* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("img/background.png");
  background-color: #6133b4;
  background-position: 10%;
}

.main-sides{
  display: flex;
  /* justify-content: space-between; */
  height: 100vh;

}

.left-side{
  width: 45%;
  text-align: start;
  border: solid 1px black;
  display: flex;
  align-items: center;
  flex-direction: space;
  margin: auto;
  flex-direction: column;
}
.right-side h1{
  text-align: center !important;
}

.right-side{
  width: 45%;
  text-align: start;
  border: solid 1px black;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.line{
  height: 1px;
  color: white;
  width: 40%;
}
