* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("img/background.png");
  background-color: #6133b4;
  background-position: 10%;
}

.main-sides{
  display: flex;
  /* justify-content: space-between; */
  height: 100vh;

}

.left-side{
  width: 50%;
  border: solid 1px;
}

.right-side{
  text-align: center;
  border: solid 1px black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.right-side p{
}

#Username{
    margin-bottom: 1em;
    border-radius: 2px;
    background-color: #432874;
    border-color: #432874;
    color: #925cf3;
    border: 2px solid transparent;
    display: block;
    width: 50%;
    
  }
  #Username::placeholder{
    position:relative;
    left: 15px;
  }